
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=cocktail.picture%>);">
        <div class="card-header">
          <h2><%= cocktail.name %></h2>
        </div>
        <div class="card-description">
          <%= link_to "Show", cocktail_path(cocktail), :class=>"btn btn-primary" %>
          <%= link_to "Update", edit_cocktail_path(cocktail), :class=>"btn btn-success" %>
          <%= link_to "Del", cocktail_path(cocktail),
          method: :delete,
          :class=>"btn btn-warning",
          data: { confirm: "Are you sure?" } %>
          <%= link_to "Ingredients", new_cocktail_dose_path(cocktail), :class=>"btn btn-danger" %>
        </div>
      </div>
    </div>
