<div class="formfor">
<%= simple_form_for(@cocktail) do |f| %>
  <p><%= f.input :name %></p>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
</div>

